@model Product

<h3>@Model.ProductName Information</h3>

<table class="table">
    <tr>
        <th>ProductID</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Unit Price</th>
        <th>Stock Level</th>
    </tr>
    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.ProductName</td>
        <td>@Model.Category</td>
        <td>@Model.Price</td>
        <td>@Model.Stock</td>
    </tr>
</table>

<div>
    <a href="/Product/UpdateProduct/@Model.ProductID" class="btn btn-outline-secondary btn-secondary-size">
        Update this product
    </a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" class="btn btn-danger btn-secondary-size" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>